.post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
}

h1, h4 {
    text-align: start;
    color: deeppink;
    font-family: Consolas, serif !important;
}

h6, input, button {
    text-align: start;
    color: white;
    font-family: Consolas, serif !important;
}

.comment-email {
    color: deeppink;
    margin-left: 10px;
}

.add-comment {
    display: flex;
}
.add-comment-form {
    display: flex;
    flex-direction: column;
}
